NMB.Booking.Controllers/Connected Services/MeetingService/meeting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1250/meeting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NMB.Booking.Models" />
  <xs:element name="GetLocationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NMB.Booking.Models" minOccurs="0" name="GetLocationByIdResult" nillable="true" type="q1:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NMB.Booking.Models" minOccurs="0" name="GetMeetingByIdResult" nillable="true" type="q2:Meeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsByMeetingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsByMeetingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NMB.Booking.Models" minOccurs="0" name="GetPersonsByMeetingIdResult" nillable="true" type="q3:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetMeetingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonsMulti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NMB.Booking.Models" minOccurs="0" name="persons" nillable="true" type="q4:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonsMultiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonsMultiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>